In [2]:
print(type(5))
print(type(5000 * 50000000))
print(type('j'))
print(type(1j))
print(type(1,))
print(type([1]))
print(type(None))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'int'>
<class 'list'>
<class 'NoneType'>

In [9]:
from decimal import *

val = 0.1 + 0.1 + 0.1
print(val)
#     0.300000000000004

val2 = Decimal(".1") + Decimal(".1") + Decimal(".1")
print(val2)
#     0.3

0.30000000000000004
0.3

In [34]:
n1 = 0
n2 = 1
count = 0
nth = 0
while count < 20:
    nth = n1 + n2
    print (str(n1) + " + " + str(n2) + " = " + str(nth))

    n1 = n2 
    n2 = nth
    
    count += 1

0 + 1 = 1
1 + 1 = 2
1 + 2 = 3
2 + 3 = 5
3 + 5 = 8
5 + 8 = 13
8 + 13 = 21
13 + 21 = 34
21 + 34 = 55
34 + 55 = 89
55 + 89 = 144
89 + 144 = 233
144 + 233 = 377
233 + 377 = 610
377 + 610 = 987
610 + 987 = 1597
987 + 1597 = 2584
1597 + 2584 = 4181
2584 + 4181 = 6765
4181 + 6765 = 10946

In [3]:
name = "Gerald"
print(name[-1])
for char in name:
    print(char, end=":")

d
G:e:r:a:l:d:

In [4]:
# num = input('Enter 10 number in range 1 to 8: ')
# numArr = num.split()
# print(numArr)
# countNum5 = numArr.count("5")
# print(countNum5)

myList = []
while(len(myList) < 10):
    num = int(input("Enter a number in range of 1 and 8: "))
    if num not in range(1, 9):
        num = int(input("Invalid Number, Try Again: "))
    else:
        myList.append(num)
        
print(myList)
print(myList.count(5))

Enter a number in range of 1 and 8: 8
Enter a number in range of 1 and 8: 5
Enter a number in range of 1 and 8: 5
Enter a number in range of 1 and 8: 8
Enter a number in range of 1 and 8: 2
Enter a number in range of 1 and 8: 6
Enter a number in range of 1 and 8: 97
Invalid Number, Try Again: 5
Enter a number in range of 1 and 8: 7
Enter a number in range of 1 and 8: 3
Enter a number in range of 1 and 8: 5
Enter a number in range of 1 and 8: 6
[8, 5, 5, 8, 2, 6, 7, 3, 5, 6]
3

In [65]:
list2 = [1, 4, 9, 16, 25]

# list3 = list(filter(lambda x: (x % 2 != 0), list2))

list4 = [el for el in list2 if (el % 2 != 0)]
print(list2)
# print(list3)
print(list4)

[1, 4, 9, 16, 25]
[1, 9, 25]